<div class="ui raised segment">
  <div class="ui two column very relaxed grid ">
      <div class="column">
        <div *ngIf="carData">
          <h3>Make: {{carData.make}}</h3>
          <h3>Model: {{carData.model}}</h3>
          <h3>Year: {{carData.year}}</h3>
        </div>
      </div>
      <div class="column">
        <div *ngIf="carData">
          <img src={{carDate.imageURL}} [style.width.px]='carImageWidth'>
        </div>
      </div>
      <div class="column">
        <div *ngIf="carData">
          <div *ngFor="let tempRatings of carData.quality; let i=index;">
            {{carData.quality[i].name | uppercase}}: {{carData.quality[i].rating}}
          </div>
        </div>
      </div>
  </div>
</div>
