<div class="ui raised segment">
  <button class="ui button right floated" (click)="show = !show">{{show ? 'Hide' : 'Add a Car'}}</button>
  <br />
  <br />
  <div *ngIf="show">
    <form class="ui form">
    <div class="field">
      <label>Make</label>
      <input type="text" name="make" placeholder="Enter Make" #make>
    </div>
    <div class="field">
      <label>Model</label>
      <input type="text" name="model" placeholder="Enter Model" #model>
    </div>
    <div class="field">
      <label>Year</label>
      <input type="text" name="year" placeholder="Enter Year" #year>
    </div>
    <div class="field">
      <label>Image</label>
      <input type="text" name="imageURL" placeholder="Enter Link to Image" #imageURL>
    </div>
    <!--
    <fieldset>
      <legend>Quality</legend>
      <div class="field">
        <label>OVERALL</label>
        <input type="text" name="quality" placeholder="overall rating" #imageURL>
      </div>
      <div class="field">
        <label>MECHANICAL</label>
        <input type="text" name="quality" placeholder="mechanical rating" #imageURL>
      </div>
      <div class="field">
        <label>POWERTRAIN</label>
        <input type="text" name="quality" placeholder="powertrain rating" #imageURL>
      </div>
      <div class="field">
        <label>BODY</label>
        <input type="text" name="quality" placeholder="body rating" #imageURL>
      </div>
      <div class="field">
        <label>INTERIOR</label>
        <input type="text" name="quality" placeholder="interior rating" #imageURL>
      </div>
      <div class="field">
        <label>ACCESSORIES</label>
        <input type="text" name="quality" placeholder="accessories rating" #imageURL>
      </div>
    </fieldset>
  -->
    <button class="ui primary button" type="submit" (click)="addCar(
      make.value, 
      model.value, 
      year.value, 
      imageURL.value
      )">Add the car</button>
    </form>
  </div>
</div>
